<h2 class='country__name'>
  Ukraine
</h2>
<div class='country__wrap'>
  <div class='country__info'>
    <p class='country__capital'>
      <span class='bold'>
        Capital:
      </span>
      Kiyv
    </p>
    <p class='country__population'>
      <span class='bold'>
        Population:
      </span>
      48000000
    </p>
    <p class='country__languages'>
      <span class='bold'>
        Languages:
      </span>
      <ul class='languages-list'>
        <li class='languages-list__item'>
          Ukrainian
        </li>
        <li class='languages-list__item'>
          Russian
        </li>
        <li class='languages-list__item'>
          English
        </li>
      </ul>
    </p>
  </div>
  <div class='country__flag'>
    <img class='' width='100%' src='https://flagcdn.com/ua.svg' alt='flag of Ukraine' />
  </div>
</div>